    body {
        margin: 0;
        height: 100%;
        min-width: 300px;
        background: url("/images/flowers.jpg");
        font-family: Verdana, sans-serif;
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }

    .container {
        width: 1280px;
        height: auto;
        margin: 0 auto;
        background-color: #fff;
        line-height: 30px;
    }

    .container .main-2 h2 {
        color: #000000;
        background: rgba(0,224,198, 0.5);
        border-radius: 40px 10px;
        padding: 0 20px;
    }

    header .nav {
        background-color: #009393;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .nav ul,
    main .main-2 .projects ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    header .nav li {
        display: inline;
    }

    header .nav a {
        padding: 14px 20px;
        line-height: 50px;
        color: #ffffff;
    }

    header .nav a:hover {
        background-color: #00e0C6;
        color: #000000;
    }

     .main-content {
        display: flex;
        align-items: stretch;
    }


    .main-content .main-1 {
        width: 33%;
        background-color: #c9eaee;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
    }
    
    .main-content .photo img {
        width: 95%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 0;
        border-radius: 100%;
        border: 7px solid #ffffff;
    }

    .main-content .contacts ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0 20px 0;
    }

    .main-content .contacts a {
        color: #000000;
    }

    .main-content .contacts a:hover {
        color: #000000;
        text-decoration: underline;
    }

    .main-content .main-2 {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
    }

     .footer {
        background-color: #016170;
        color: #ffffff;
    }

    footer .footer-links ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    footer .footer-links li {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

   footer .footer-links a {
        padding: 0 10px;
        line-height: 40px;
        color: #ffffff;
       display: inline-block;
    }

    .footer .footer-links a:hover {
        color: #000000;
        text-decoration: underline;
    }

