    body {
        margin: 0;
        height: 100%;
        min-width: 300px;
        background-color: #6dc8c9;
        font-family: Verdana, sans-serif;
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }

    .container {
        width: 1280px;
        height: auto;
        margin: 0 auto;
        background-color: #fff;
        line-height: 30px;
    }

    header .navigation {
        background-color: #009393;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .navigation ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    header .navigation li {
        display: inline;
    }

    header .navigation a {
        padding: 14px 20px;
        line-height: 50px;
        color: #ffffff;
    }

    header .navigation a:hover {
        background-color: #00E0C6;
        color: #000000;
    }

     .main_content {
        display: flex;
        align-items: start;
    }

    .main_content .main_1 {
        width: 35%;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
    }

    .main_content .main_2 {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
    }

     .footer {
        background-color: #016170;
    }

    footer .footer-links ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    footer .footer-links li {
        display: inline-block;
        width: 30%;
        text-align: center;
    }

    footer .footer-links img {
        width: 70px;
        height: auto;
    }

   footer .footer-links a {
        padding: 10px 10px;
        line-height: 40px;
        color: #ffffff;
    }

    .footer .footer-links a:hover {
        color: #000000;
        text-decoration: underline;
    }

